.portfolio {
	padding-bottom: 170px;
	@media screen and (max-width: 480px) {
				padding-bottom: 50px;
			}
	background: #dadada;
	box-sizing: border-box;

		&__title {
		padding-top: 100px;
		color: #ebeced;
		font-size: 162px;
		font-family: "Work Sans";
		font-weight: 800;
		text-align: center;
		margin: 0 auto;
			@media screen and (max-width: 768px) {
				font-size: 122px;
			}
			@media screen and (max-width: 520px) {
				font-size: 62px;
				padding: 60px 20px 0 10px ;
			}
		&::after {
		content: "If you do it right, it will last forever.";
		display: block;
		color: #575757;
		font-family: "Work Sans";
		font-size: 25px;
		font-weight: 400;
		margin: 0 auto;
		margin-top: -60px;
		line-height: 35px;
				@media screen and (max-width: 768px) {
				margin-top: -50px;
				font-size: 18px;
			}
				@media screen and (max-width: 480px) {
				margin-top: -30px;
				font-size: 16px;
			}
			}
		}

		&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		}

		&__item {
		margin: 0 20px;
		margin-top: 80px;
		}

		&__item-img {
		height: 370px;
		width: 500px;
		background: #f0f0f0;
		@media screen and (max-width: 580px) {
			height: 235px;
			width: 318px;
		}
		}

		&__item-desc {
		padding: 20px;
		background: #fff;
		box-sizing: border-box;
		@media screen and (max-width: 580px) {
			max-width: 318px;
		}
		}

		&__item-title {
		margin: 0;
		color: #1f2021;
		font-family: "Work Sans";
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 15px;
		text-align: left;
		}

		&__item-text {
		max-width: 401px;
		margin: 0;
		color: #4d4c4c;
		font-family: "Work Sans";
		font-size: 15px;
		font-weight: 400;
		line-height: 25px;
		text-align: left;
		letter-spacing: -0.75px;
		}
}

